.icon {
    height: 12px;
    width: 12px;
    margin: 3px auto;
}

.list-item-remove {
    height: 18px;
    width: 20px;
    float: right;
}

.list-item-remove:hover {
    background-color: #DEECFB;
}

.list-item-remove:hover .icon-remove {
    fill: #4D4D4F;
}

.icon-remove {
    fill: #adadad;
}

