<li class="row song" ng-repeat="o in song" ng-click="toggleSelection(o)" ng-dblclick="playFrom($index)" ng-class="{'selected': o.selected, 'playing': o.playing}">
    <div class="itemactions">
        <a class="add" href="" title="Add To Queue" ng-click="addSongToQueue(o)" stop-event="click,dblclick"></a>
        <!--<a class="remove" href="" title="Remove Song" ng-click="removeSongFromQueue(o)" stop-event="click,dblclick"></a>-->
        <a class="play" href="" title="Play this song" ng-click="playSong(o)" stop-event="click,dblclick"></a>
        <!--<a class="download" href="" title="Download Song" ng-click="download(o.id)" stop-event="click,dblclick"></a>-->
        <a href="" title="Star" ng-class="{'favorite': o.starred, 'rate': !o.starred}" ng-click="toggleStar(o)" stop-event="click,dblclick"></a>
        <div class="clear"></div>
    </div>
    <div class="track floatleft" ng-bind-html="o.track"></div>
    <div class="title floatleft" title="{{o.description}}" ng-bind-html="o.name"></div>
    <span class="artist floatleft" ng-bind-html="o.artist"></span>
    <div ng-show="o.album && itemType !== 'archive'">
        <img ng-src="{{o.coverartthumb}}">
        <a ng-href="#/library/0/{{o.albumId}}" class="albumblock floatleft" stop-event="click" ng-bind-html="o.album" title="{{o.album}}"></a>
    </div>
    <a ng-show="o.album && itemType === 'archive'" ng-href="#/archive/{{o.artist}}/{{o.parentid}}" class="albumblock floatleft" stop-event="click" ng-bind-html="o.album" title="{{o.album}}"></a>
    <div class="albumblock floatleft" ng-show="!o.album">&nbsp;</div>
    <div class="time floatleft">{{o.time}}</div>
    <div class="clear"></div>
</li>
