body 
{
	background: #222222;
	color: #d6d469;
}
a
{
    color: #ffffff;
}
a:hover
{
    color: #d6d469;
}
h3.title {
    color: #f2f2f2;
}
span.apiversion
{
    color: #ffffff;
}

#content 
{
    background: #222222;
}
.lgsection
{
    background: #323232;
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
}
.fullsection
{
    background: #323232;
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
}
.smsection
{
    background: none;
    /*border-right: 1px solid #5A5A5A;*/
}
#nav a 
{
    color: #7C7C7C;
	background: #272727;
    border: 1px solid #232323;
    border-bottom: none;
}
#nav a:hover  
{
    color: #545454; 
    border: 1px solid #5A5A5A;
    border-bottom: none;
}
#nav a.active  
{
    color: #545454; 
    background: #323232; 
	border: 1px solid #5A5A5A;
	border-bottom: none;
}
#nav a.active:hover  
{
    color: #545454; 
    border: 1px solid #5A5A5A;
	border-bottom: none;
}
#SideBar
{
    background: #292929;
    border: 1px solid #5A5A5A;
}
#NowPlaying, #ChatMsgs
{
    border-bottom: 1px solid #232323;
}
#messages .message
{
    color: #d6d469;
    background: #323232;
    border: 1px solid #1d1d1d;
}
.status
{
    background: #222;
    border-top: 1px solid #1d1d1d;
    border-left: 1px solid #1d1d1d;
}
.status a 
{
    color: #d6d469;
}
#player
{
    background: #323232;
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
}
.vertshade {
    background: -webkit-gradient(linear, left top, right top, from(rgba(46, 46, 46, 0)), to(rgba(46, 46, 46, 1)));
}
.horizshade 
{
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(46, 46, 46, 0)), to(rgba(46, 46, 46, 1)));
}
#songdetails 
{
    border: solid 1px #323232;   
}
#songdetails.hover 
{
    border: solid 1px #212121;
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(46, 46, 46, 0)), to(rgba(34, 34, 34, .4)));    
}
#songdetails ul {
    color: #F2F2F2;
}
#songdetails a.rate
{
	background-color: #323232;
}
#songdetails a.rate:hover
{
	background-color: #323232;
}
/* Button Style */
a.button {
    color: #6e6e6e;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #323232;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#323232),to(#323232));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#323232),to(#323232));
    border: solid 1px #5A5A5A;
}
a.button:hover {
    color: #939393;
    -moz-box-shadow: 0 2px 0 rgba(242, 242, 242, 0.2) 
    -webkit-box-shadow:0 2px 5px rgba(242, 242, 242, 0.2);
    box-shadow: 0 1px 2px rgba(242, 242, 242, 0.15);
    border-color: #5a5a5a;
}
a.button:active {
    color: #000;
    border-color: #444;
}
a.selected {
    color: #939393;
    border-color: #5a5a5a;
    -moz-box-shadow: 0 2px 0 rgba(242, 242, 242, 0.2) 
    -webkit-box-shadow:0 2px 5px rgba(242, 242, 242, 0.2);
    box-shadow: 0 1px 2px rgba(242, 242, 242, 0.15);
    background: #161616;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#161616),to(#111111));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#161616),to(#111111));
}
a.disabled {
    color: #3D3D3D;
    background: #323232;
}
a.disabled:hover {
    color: #3D3D3D;
    border-color: #5A5A5A;
    -moz-box-shadow: none;
    box-shadow: none;
}
ul.simplelist li
{
    border-bottom: 1px solid #272727;
}
ul.simplelist li a
{
    text-decoration: none;
    color: #545454;
}
ul.simplelist li:hover
{
    background-color: #272727;
}
ul.simplelist li.index
{
    background: #232323;
    border-bottom: 1px solid #171717;
    color: #f2f2f2;
}
ul.simplelist li.index a
{
    color: #f2f2f2;
}
ul.simplelist li.selected
{
    background-color: #3A3A3A;
}
#BreadCrumb 
{
    color: #D6D469;
    background: #222222;  
}
#BreadCrumb a
{
    color: #D6D469;
}
#submenu_AZIndex
{
    border: 1px solid #5A5A5A;
    background: #323232;
}
#AZIndex #AZIndex li a
{
    color: #f2f2f2;
}
ul.songlist th {
    color: #F2F2F2;
    border-bottom: 1px solid #2e2e2e;    
    background: #2E2E2E;
}
ul.songlist th:hover, ul.songlist th.sorted {
	background: #272727;
}
ul.songlist li.album:hover
{
    background: #1d1d1d;
}
ul.songlist li.album 
{
    border-bottom: 1px solid #232323;
}
ul.songlist li.album
{
    color: #f2f2f2;
}
ul.songlist li.album .albumart img
{
    border: 1px solid #232323;
}
ul.songlist .albumgrid .title
{
    background: -webkit-linear-gradient(right, #2e2e2e 0%, #fff 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul.songlist li.row {
    border-bottom: 1px solid #232323;
}
ul.songlist li.row:hover
{
    background-color: #1d1d1d;
}
ul.songlist li.row td
{
    color: #f2f2f2;
}
ul.songlist li.row td.album img
{
    border: 1px solid #232323;
}
ul.songlist li.row td.album a
{
    color: #D6D469;
}
ul.songlist li.row td.album a:hover
{
    color: #d6d469;
    text-decoration: underline;    
}
ul.songlist li:nth-child(odd)   { background-color: #272727; }
ul.songlist li:nth-child(even)  { background-color: #2e2e2e; }
ul.songlist li.playing {
    background-color: #161616;
}
ul.songlist li.selected
{
    background-color: #3a3a3a;
    border-bottom: 1px solid #232323;
}
#submenu_CurrentPlaylist 
{
    background: #2E2E2E;
    border: solid 1px #212121;
}    
ul.preferences li em 
{
    background: none repeat scroll 0 0 #1d1d1d;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    color: #f2f2f2;
}
.form {
    border: 1px solid #1A1A1A;
    background: #292929;
    overflow: auto;
    float: left;
    margin: 10px;
}
.inputwrap
{
    border: 1px solid #5A5A5A;
}
fieldset
{
    border: 1px solid #5A5A5A;
}
label
{
    color: #D6D469;
}
#donate {
    background: #232323;
    border: 1px solid #1A1A1A;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
    -webkit-border-radius: 10px;
    background: #252525;
}
::-webkit-scrollbar-thumb {
    border: 1px solid #1a1a1a;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #030303;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(34, 34, 34, 0.2); 
}
.accordion .accordionItemTitle {
	background: #383838;
	border: 1px solid #252525;
	box-shadow: none;
}
.accordion .accordionItemTitle:hover {
    background: #252525;
}

#QueuePreview {
    background-color: #222222;
}
#QueuePreview ul {
    background-color: #161616;
}
#QueuePreview li.selected {
    background-color: #3a3a3a;
}
#QueuePreview li.playing {
    background-color: #515151;
    border-color: #343434;
}
#QueuePreview .row {
    border: solid 1px #000000;
    background: #222222;
}
#QueuePreview .row .albumart img {
    border-color: #1d1d1d;
}
#QueuePreview .queueactions {
    border-right: 1px solid #000000;
}

/* jQuery Splitter Style */
.ui-state-default { background-color: #252525; }
.ui-state-hover { background-color: #1a1a1a; }
.ui-state-highlight { background-color: #252525; }
.ui-state-error { background-color: #eaa; }