body 
{
	background: #222222;
	color: #d6d469;
}
a
{
    color: #ffffff;
}
a:hover
{
    color: #d6d469;
}
h3.title {
    color: #f2f2f2;
}
span.apiversion
{
    color: #ffffff;
}

#content 
{
    background: #222222;
}
.lgsection
{
    background: #2E2E2E;
    border: 1px solid #1D1D1D;
}
.fullsection
{
    background: #2E2E2E;
    border: 1px solid #1D1D1D;
}
.smsection
{
    background: none;
    /*border-right: 1px solid #1D1D1D;*/
}
#nav a 
{
    color: #7C7C7C;
	background: #272727;
    border: 1px solid #232323;
    border-bottom: none;
}
#nav a:hover  
{
    color: #545454; 
    border: 1px solid #5A5A5A;
    border-right: 1px solid #232323;
    border-bottom: none;
}
#nav a.active  
{
    color: #545454; 
    background: #2E2E2E; 
	border: 1px solid #1D1D1D;
	border-bottom: none;
}
#nav a.active:hover  
{
    color: #545454; 
    border: 1px solid #5A5A5A;
    border: 1px solid #1D1D1D;
	border-bottom: none;
}
#SideBar
{
    background: #292929;
    border: 1px solid #1d1d1d;
}
#NowPlaying, #ChatMsgs
{
    border-bottom: 1px solid #232323;
}
#messages .message
{
    color: #d6d469;
    background: #2e2e2e;
    border: 1px solid #1d1d1d;
}
.status
{
    background: #222;
    border-top: 1px solid #1D1D1D;
    border-left: 1px solid #1D1D1D;
}
.status a 
{
    color: #d6d469;
}
#player
{
    background: #2E2E2E;
    border: 1px solid #1D1D1D;
}
.vertshade {
    background: -webkit-gradient(linear, left top, right top, from(rgba(46, 46, 46, 0)), to(rgba(46, 46, 46, 1)));
}
.horizshade 
{
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(46, 46, 46, 0)), to(rgba(46, 46, 46, 1)));
}
#songdetails 
{
    border: solid 1px #2E2E2E;   
}
#songdetails.hover 
{
    border: solid 1px #212121;
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(46, 46, 46, 0)), to(rgba(34, 34, 34, .4)));    
}
#songdetails ul {
    color: #F2F2F2;
}
#songdetails a.rate
{
	background-color: #2e2e2e;
}
#songdetails a.rate:hover
{
	background-color: #2e2e2e;
}
/* Button Style */
a.button {
    color: #6e6e6e;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #2E2E2E;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#323232),to(#2e2e2e));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#323232),to(#2e2e2e));
    border: solid 1px #1d1d1d;
}
a.button:hover {
    color: #939393;
    -moz-box-shadow: 0 2px 0 rgba(242, 242, 242, 0.2) 
    -webkit-box-shadow:0 2px 5px rgba(242, 242, 242, 0.2);
    box-shadow: 0 1px 2px rgba(242, 242, 242, 0.15);
    border-color: #5a5a5a;
}
a.button:active {
    color: #000;
    border-color: #444;
}
a.selected {
    color: #939393;
    border-color: #5a5a5a;
    -moz-box-shadow: 0 2px 0 rgba(242, 242, 242, 0.2) 
    -webkit-box-shadow:0 2px 5px rgba(242, 242, 242, 0.2);
    box-shadow: 0 1px 2px rgba(242, 242, 242, 0.15);
    background: #161616;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#161616),to(#111111));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#161616),to(#111111));
}
a.disabled {
    color: #3D3D3D;
    background: #2E2E2E;
}
a.disabled:hover {
    color: #3D3D3D;
    border-color: #1d1d1d;
    -moz-box-shadow: none;
    box-shadow: none;
}
ul.simplelist li
{
    border-bottom: 1px solid #272727;
}
ul.simplelist li a
{
    text-decoration: none;
    color: #545454;
}
ul.simplelist li:hover
{
    background: #272727;
}
ul.simplelist li.index
{
    background: #232323;
    border-bottom: 1px solid #171717;
    color: #f2f2f2;
}
ul.simplelist li.index a
{
    color: #f2f2f2;
}
ul.simplelist li.selected
{
    background: #3A3A3A;
}
#BreadCrumb 
{
    color: #D6D469;
    background: #222222;  
}
#BreadCrumb a
{
    color: #D6D469;
}
#BottomContainer
{
    border-top: 1px solid #F2F2F2;
    /*background: #2a2a2a;*/
    background: rgba(42, 42, 42, .8);
}
#BottomContainer #BottomIndex li a
{
    color: #f2f2f2;
}
table.songlist th {
    color: #F2F2F2;
    border-bottom: 1px solid #2e2e2e;    
    background: #2E2E2E;
}
table.songlist th:hover, table.songlist th.sorted {
	background: #272727;
}
table.songlist tr.album:hover
{
    background: #1d1d1d;
}
table.songlist tr.album 
{
    border-bottom: 1px solid #232323;
}
table.songlist tr.album td
{
    color: #f2f2f2;
}
table.songlist tr.album td.albumart img
{
    border: 1px solid #232323;
}
table.songlist tr.row {
    border-bottom: 1px solid #232323;
}
table.songlist tr.row:hover
{
    background: #1d1d1d;
}
table.songlist tr.row td
{
    color: #f2f2f2;
}
table.songlist tr.row td.album img
{
    border: 1px solid #232323;
}
table.songlist tr.row td.album a
{
    color: #D6D469;
}
table.songlist tr.row td.album a:hover
{
    color: #d6d469;
    text-decoration: underline;    
}
table.songlist tr:nth-child(odd)   { background-color: #272727; }
table.songlist tr:nth-child(even)  { background-color: #2e2e2e; }
table.songlist tr.playing {
    background: #161616;
}
table.songlist tr.selected
{
    background: #3a3a3a;
    border-bottom: 1px solid #232323;
}
#submenu_CurrentPlaylist 
{
    background: #2E2E2E;
    border: solid 1px #212121;
}    
ul.preferences li em 
{
    background: none repeat scroll 0 0 #1d1d1d;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    color: #f2f2f2;
}
.form {
    border: 1px solid #1A1A1A;
    background: #292929;
    overflow: auto;
    float: left;
    margin: 10px;
}
.inputwrap
{
    border: 1px solid #1d1d1d;
}
fieldset
{
    border: 1px solid #1d1d1d;
}
label
{
    color: #D6D469;
}
#donate {
    background: #232323;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
    -webkit-border-radius: 10px;
    background: #252525;
}
::-webkit-scrollbar-thumb {
    border: 1px solid #1a1a1a;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(29, 29, 29, 0.8); 
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(34, 34, 34, 0.2); 
}