body 
{
	font: 100% Trebuchet MS, Arial, Helvetica, sans-serif;
	background: #fafafa;
	margin: 0;
	padding: 0;
	text-align: center; 
	color: #5b5b4e;
}
img 
{
	border: none;
	background: none;
}

.border { border: 2px solid #d9d9d9; }
.floatleft { float: left; }
.floatright { float: right; }
.clear { clear: both; }
.clearright { clear: right; }
.clearleft { clear: left; }
.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
.padright { padding: 0 10px 0 0; }
.odd { background: #fff; }
.even { background: #f4f4f4; }

.italic { font-style: italic; }

#container {
	text-align: left;
	min-height: 600px;
    min-width: 810px;
}
#nav 
{
    height: 36px;
	padding: 4px 0 0 5px;
}
#nav ul 
{
	list-style-type: none;
    padding: 0;
    margin: 0 0 0 5px;
}
#nav li 
{
}
#nav a 
{
    display: block;
	padding: 6px 15px 5px 15px;
	margin: 0 2px -1px 0;
	float: left;
    color: #7C7C7C;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 17px;
	text-decoration: none;
	background: #f4f4f4;
    border-top: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}
#nav a.active  
{
    color: #545454; 
    background: #EDEDED; 
	padding: 6px 15px 6px 15px;
	border-top: 1px solid #CBCBCB;
    border-left: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
}
#nav a:hover { color: #545454; }
#content 
{
    border-top: 1px solid #cbcbcb;
    background: #EDEDED;
	overflow: hidden;
	margin-top: -1px;
	padding: 0 5px;
}
#content h2
{
    font-size: 18px;
    margin: 5px;
    padding: 0;
}
.tabcontent
{
}
.smsection
{
    width: 200px;
    min-height: 200px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    border-right: 1px solid #cbcbcb;
    position: absolute;
    top: 79px;
    left: 6px;
}
.lgsection
{
    height: 100%;
    width: 100%;
    min-height: 200px;
    overflow: auto;
    background: #fff;
    border: 1px solid #cbcbcb;
    margin-top: 5px;
}
.fullsection
{
    height: 100%;
    width: 100%;
    min-width: 450px;
    min-height: 200px;
    overflow: auto;
    background: #fff;
    border: 1px solid #cbcbcb;
    margin-top: 5px;
}
.padder
{
    padding: 5px;
}
.nosection
{
    height: 100%;
    margin: 5px 5px 0 5px;
}
.subsection
{
    margin: 5px 10px;
}
.subsection small
{
    font-size: 10px;
    margin: 0 5px;
}
.indexlist
{
    float: right;
}
.indexlist ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.indexlist li
{
    color: #545454;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 9px 10px 0;
    text-align: right;
}
.indexlist li a
{
    color: #4B95E5;
    text-decoration: none;
}
.indexlist li a:hover
{
    text-decoration: underline;
}
.loading
{
    display: none;
    height: 100%;
    width: 100%;
    background: url('../images/ajax-loader.gif') no-repeat center center #f4f4f4;
}
.toploading
{
    display: none;
    height: 35px;
    width: 40px;
    margin: 0 0 0 10px;
    background: url('../images/ajax-loader.gif') no-repeat center center;
    float: left;
}
/* Library Style */
ul.simplelist
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.simplelist li
{
    font-size: 13px;
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #f2f2f2;
}
ul.simplelist li a
{
    text-decoration: none;
    color: #545454;
}
ul.simplelist li:hover
{
    background: #EEF5FD;
}
ul.simplelist li.index
{
    background: #F0F0F0;
    border-bottom: 1px solid #DDDDDD;
    color: #A7A7A7;
    font-size: 11px;
    font-weight: bold;
    margin: 2px 0;
    padding: 1px 4px;
}
ul.simplelist li.index a
{
    color: #A7A7A7;
}
ul.mainlist li.selected
{
    color: #f2f2f2;
    background-color: #4B95E5;
}
ul.mainlist li.item a.play
{
    width: 20px;
    height: 18px;
    display: block;
    margin: 0 5px 0 0;
    background: url('../images/play_gl_6x8.png') no-repeat 6px center;
}
ul.mainlist li.item a.play:hover
{
    background: url('../images/play_6x8.png') no-repeat 6px center #DEECFB;
}
ul.mainlist li.item a.add
{
    width: 20px;
    height: 18px;
    display: block;
    margin: 0 5px 0 0;
    background: url('../images/plus_gl_8x8.png') no-repeat 6px center;
}
ul.mainlist li.item a.add:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}
#AlbumContainer 
{
    margin: 5px 5px 5px 206px;
}
#TrackContainer 
{
    margin: 5px 5px 5px 206px;
}
#CurrentPlaylistContainer li.song a.add
{
    display: none;
}
#CurrentPlaylistContainer li.song a.remove
{
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    background: url('../images/minus_gl_8x2.png') no-repeat 6px center;
}
#CurrentPlaylistContainer li.song a.remove:hover
{
    background: url('../images/minus_8x2.png') no-repeat 6px center #DEECFB;
}
ul.songlist
{
    margin: 5px;
}
ul.songlist li.album
{
    font-size: 13px;
    padding: 6px 4px;
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
}
ul.songlist li.album a.title
{
    display: block;
    padding: 9px 115px 0px;
    margin-bottom: -3px;
}
ul.songlist li.album span.artist
{
    font-size: 11px;
    color: #78B0EC;
    padding-left: 15px;
}
ul.songlist .albumart
{
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
}
ul.songlist li.album a.play
{
    width: 20px;
    height: 50px;
    display: block;
    margin: 0 5px 0 0;
    background: url('../images/play_gl_6x8.png') no-repeat 6px center;
}
ul.songlist li.album a.play:hover
{
    background: url('../images/play_6x8.png') no-repeat 6px center #DEECFB;
}
ul.songlist li.album a.add
{
    width: 20px;
    height: 50px;
    display: block;
    margin: 0 5px 0 0;
    background: url('../images/plus_gl_8x8.png') no-repeat 6px center;
}
ul.songlist li.album a.add:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}
ul.songlist li.album a.remove
{
    display: none;
}
ul.songlist li.song
{
    font-size: 13px;
    padding: 8px 30px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    height: 19px;
}
ul.songlist li.song span
{
    display: block;
    float: left;
    padding: 0 10px 0 0;
    text-align: right;
}
ul.songlist li.song span.track
{
    width: 40px;
    text-align: right;
}
ul.songlist li.song span.album
{
    color: #B3B8BE;
    font-size: 10px;
    padding: 2px 0 0 0;
}
ul.songlist li.song a.play
{
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    background: url('../images/play_gl_6x8.png') no-repeat 6px center;
}
ul.songlist li.song a.play:hover
{
    background: url('../images/play_6x8.png') no-repeat 6px center #DEECFB;
}
ul.songlist li.song a.add
{
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    background: url('../images/plus_gl_8x8.png') no-repeat 6px center;
}
ul.songlist li.song a.add:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}
ul.songlist li.back a
{
    color: #4B95E5;
}
ul.songlist li.back a:hover
{
    text-decoration: underline;
}
ul.songlist li small
{
    color: #B6B6B6;
    font-size: 10px;
    margin: 1px 0 0;
    float: right;
}
ul.songlist li.playing
{
    background: url('../images/play_alt_16x16.png') 6px 10px no-repeat #DEEBFA;
}
ul.songlist li.selected
{
    color: #f2f2f2;
    background: url('../images/check_8x7.png') 10px 15px no-repeat;
    background-color: #4B95E5;
    border-bottom: 1px solid #73ABE7;
}
#ArtistContainer, #AutoAlbumContainer
{
    margin: 0 30px 0 0;
}
.actions
{
    margin: 4px 2px 0 2px;
    padding: 0 5px;   
    height: 29px;
}
.submenu 
{
    position: absolute;
    background: #fff;
    padding: 5px 10px;
    margin: 2px 0 0 1px;
}
.submenu a
{
    font-size: 12px;
    color: #545454;
    border: none;
    background: none;
    padding: 0;
    text-decoration: none;
}
.submenu a:hover
{
    text-decoration: underline;
}
#submenu_Chat
{
    left: 526px;
    bottom: 55px;
    margin: 0 0 0 1px;
    position: absolute;
    width: 220px;
    text-align: right;
}
#ChatMsgs
{
    padding: 5px;
    text-align: right;
}
#ChatMsgs .msg
{
    margin: 0 0 5px 0;
}
#ChatMsgs span.msg
{
    font-size: 12px;
}
#ChatMsgs span.user
{
    font-size: 10px;
    color: #B3B8BE;
}
#ChatMsgs span.time
{
    font-size: 9px;
    color: #CAD0D7;
}
#submenu_NowPlaying
{
    left: 641px;
    bottom: 55px;
    margin: 0 0 0 1px;
    position: absolute;
    width: 220px;
    text-align: right;
}
#NowPlayingList
{
    padding: 5px;
    text-align: right;
}
#NowPlayingList .msg
{
    margin: 0 0 5px 0;
    font-size: 11px;
}
#NowPlayingList span.user
{
    font-size: 10px;
    color: #B3B8BE;
}
#NowPlayingList span.artist
{
    font-style: italic;
}
#NowPlayingList span.title
{
}

/* Player Style */
#player
{
    width: 100%;
    background: #fff;
    border: 1px solid #cbcbcb;
    margin: 5px 0;
}
#audiocontainer
{
}
.audiojs 
{
    width: auto;
    height: 17px;
    margin: 0 9px 2px 0;
    background: none;
    background: #404040;
    font-family: inherit;
    font-size: 10px;
    box-shadow: none;
}
.audiojs .play-pause
{
    display: none;
}
.audiojs .scrubber
{
    height: 5px;
    margin: 5px;
}
.audiojs .time
{
    border: none;
    line-height: 17px;
    padding: 0 6px 0 6px;
}
.playeractions
{
    margin: 9px 20px;
}
.playeractionssmall
{
    margin: 18px 5px;
}
#coverart
{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 2px 0 2px 0;
    float: left;
    padding: 2px;
}
#songdetails
{
    margin: 0 8px;
    float: left;
}
#songdetails ul
{
	list-style-type: none;
	margin: 6px 0;
	padding: 0;
	height: 30px;
	overflow: hidden;
}
#songdetails li
{
    font-size: 11px;
}
#songdetails li span.label
{
    color: #B6B6B6;
    display: inline;
    margin: 0 4px 0 0;
    text-align: right;
    width: 37px;
}
ul.preferences 
{
    list-style-type: none;
    padding: 0;
    margin: 5px;
}
ul.preferences li
{
    color: #646464;
    font-size: 11px;
    padding: 6px 0;
}
ul.preferences li.title
{
    font-weight: bold;
    font-size: 14px;
    font-variant: small-caps;
}
ul.preferences li span
{
    clear: both;
    display: block;
    float: left;
    width: 80px;
}
ul.preferences li em 
{
    background: none repeat scroll 0 0 #D3D3D3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-style: normal;
    left: -3px;
    padding: 3px 9px 3px;
    position: relative;
}




/* Button Style */
a.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 6px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
    color: #000;
    border-color: #444;
}
.shadow
{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Form Style */
input
{
    font-family:   Calibri, Arial, Verdana;
    font-size: 14px;
    padding: 5px;
}
input.medium
{
    border: 1px solid #DCDCDC;
    width: 110px;
    margin: 0 5px;
}
input.large
{
    border: 1px solid #DCDCDC;
    width: 180px;
    margin: 5px;
}
select
{
    font-family:   Calibri, Arial, Verdana;
    padding: 5px;
    margin: 5px;
    border: 1px solid #d6d6d6;
}
.submit
{
    margin: 0 5px;
}
label
{
    font-size: 12px;
    margin: 0 5px;
}