html, body { height: 100%; }
body 
{
	font: 100% Trebuchet MS, Arial, Helvetica, sans-serif;
	background: #fafafa;
	margin: 0;
	padding: 0;
	text-align: center; 
	color: #5b5b4e;
	height: 100%;
}
img 
{
	border: none;
	background: none;
}
h3.title
{
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
    padding: 0;
    margin: 5px 0;
}
span.alert
{
    color: #6BA2D6;
    font-size: 12px;
    margin: 0 0 0 10px;
}
span.apiversion
{
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.border { border: 2px solid #d9d9d9; }
.floatleft { float: left; }
.floatright { float: right; }
.clear { clear: both; }
.clearright { clear: right; }
.clearleft { clear: left; }
.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
.padright { padding: 0 10px 0 0; }
/* Old: Using CSS3
.odd { background: #fff; }
.even { background: #f4f4f4; }
*/
.red { color: #E64F4C; }
.codesyntax { font-family: "Courier New"; }
.italic { font-style: italic; }
.beer { font-size: 17px; }

#container {
	text-align: left;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
#logo
{
    position: absolute;
    width: 54px;
    height: 36px;
    background: url('../images/subsonic_36.png') no-repeat 5px 3px;   
    cursor: pointer;
    top: 0;
    right: 248px;
}
#logo:hover
{
    background: url('../images/subsonic_dn_36.png') no-repeat 5px 2px;    
}
#nav 
{
    height: 54px;
    width: 270px;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 99;
}
#nav ul 
{
	list-style-type: none;
    padding: 0;
    margin: 0 0 0 4px;
}
#nav li 
{
    float: left;
    margin: 0 1px 0 0;
}
#nav a 
{
    display: block;
	padding: 8px 12px;
	height: 21px;
    color: #7C7C7C;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 17px;
	text-decoration: none;
	background: #f4f4f4;
    border: 1px solid #E4E4E4;
    border-right: 1px solid #D5D5D5;
    border-bottom: none;
}
#nav a:hover  
{
    color: #545454; 
    border: 1px solid #D5D5D5;
    border-bottom: none;
}

#nav a.active  
{
    color: #545454; 
    background: #ffffff; 
	border: 1px solid #CBCBCB;
	border-bottom: none;
	padding: 8px 12px 9px 12px;
	box-shadow: -2px 1px 2px -2px rgba(0, 0, 0, 0.25);
}
#nav a.active:hover  
{
    color: #545454; 
    border: 1px solid #CBCBCB;
	border-bottom: none;
}
#nav a img 
{
    display: block;
    margin: 3px 0 4px 1px;
}
#nav a.active img 
{
    display: block;
    margin: 3px 0 4px 1px;
}
#search
{
    height: 30px;
    width: 250px;
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 1;
}
#content 
{
    background: #EDEDED;
	width: 100%;
    height: 100%;
}
#content h2
{
    font-size: 18px;
    margin: 5px;
    padding: 0;
}
.tabcontent
{
    margin: 0;
}
.smsection
{
    width: 200px;
    padding: 0 0 40px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    /*border-right: 1px solid #f2f2f2;*/
    position: absolute;
    top: 0;
    bottom: 0;    
    left: 4px;
    outline: none;
}
.lgsection
{
    background: #fff;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    position: absolute;
    top: 40px;
    bottom: 84px;
    width: 100%;
}
.fullsection
{
    min-width: 450px;
    overflow: auto;
    background: #fff;
    border: 1px solid #cbcbcb;
    position: absolute;
    top: 40px;
    bottom: 84px;
    width: 100%;
}
.padder
{
    padding: 5px;
}
.subsection
{
    margin: 10px 20px;
}
.subsection small
{
    font-size: 10px;
    margin: 0 5px;
}
.loading
{
    display: none;
    height: 100%;
    width: 100%;
    background: url('../images/ajax-loader.gif') no-repeat center center #f4f4f4;
}
#toploading
{
    display: none;
    height: 35px;
    width: 40px;
    margin: 0 0 0 2px;
    background: url('../images/ajax-loader.gif') no-repeat center center;
    float: left;
}
#messages
{
    display: none;
    width: 200px;
    font-size: 12px;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 10px;
}
#messages .message
{
    color: #4B95E5;
    float: right;
    clear: both;
    padding: 5px;
    margin: 2px 0 2px 0;
    background: #fff;
    border: 1px solid #A6CBF3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    cursor: pointer;        
}
.pager
{
    display: none;
    font-size: 12px;
    padding: 0 5px;
    float: right;
}
.pager a.previous
{
    margin: 0 5px 0 0;
}
.pager a.next 
{
    margin: 0 0 0 5px;
}
.status
{
    display: none;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    position: absolute;
    z-index: 99;
    bottom: 85px;
    right: 0;
    background: #f2f2f2;
    padding: 2px 10px;
    border-top: 1px solid #CBCBCB;
    border-left: 1px solid #CBCBCB;
    opacity: .9;
}
.status a, .pager a
{
    color: #545454;
    text-decoration: none;
    font-size: 12px;
}
.status a:hover, .pager a:hover
{
    text-decoration: underline;
}
.on
{
    display: block;
}


/* Library Style */
ul.simplelist
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.simplelist li
{
    font-size: 13px;
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #f2f2f2;
}
#AutoAlbumContainer li.item
{
    padding: 6px 8px;
}
ul.simplelist li .name
{
}
ul.simplelist li a
{
    text-decoration: none;
    color: #545454;
}
ul.simplelist li:hover
{
    background: #EEF5FD;
}
ul.simplelist li.index
{
    background: #F0F0F0;
    border-bottom: 1px solid #DDDDDD;
    color: #A7A7A7;
    font-size: 11px;
    font-weight: bold;
    margin: 2px 0;
    padding: 1px 4px;
}
ul.simplelist li.index a
{
    color: #A7A7A7;
}
ul.mainlist li.selected
{
    color: #f2f2f2;
    background-color: #4B95E5;
}
ul.mainlist li.item a.play
{
    width: 20px;
    height: 18px;
    display: block;
    background: url('../images/play_gl_6x8.png') no-repeat 6px center;
}
ul.mainlist li.item a.play:hover
{
    background: url('../images/play_6x8.png') no-repeat 6px center #DEECFB;
}
ul.mainlist li.item a.download
{
    float: left;
    width: 20px;
    height: 18px;
    display: block;
    background: url('../images/download_gl_9x12.png') no-repeat 5px center;
}
ul.mainlist li.item a.download:hover
{
    background: url('../images/download_gd_9x12.png') no-repeat 5px center #DEECFB;
}
ul.mainlist li.item a.add
{
    width: 20px;
    height: 18px;
    display: block;
    background: url('../images/plus_gl_8x8.png') no-repeat 6px center;
}
ul.mainlist li.item a.add:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}
#BreadCrumbContainer
{
    margin: 5px 5px 0 0;
    font-size: 12px;
    height: 22px;
}
#BreadCrumb 
{
    float: left;
    margin: 0;
    padding: 2px 8px;
    color: #AEAEA7;
    background: #f6f6f6;  
    border-radius: .4em;  
}
#BreadCrumb img
{
    padding: 2px 0px 2px 0;
    float: left;
}
#BreadCrumbs span
{
    margin: 0 2px 0 6px;
}
#BreadCrumbs a
{
    margin: 0 2px 0 6px;
    text-decoration: none;
    color: #829FC0;
}
#BreadCrumbs a:hover
{
  text-decoration: underline;
}
#BreadHome a
{
    padding: 0;
    margin: 0;
}

#AlbumContainer
{
    margin: 0 5px 5px 0;
}
#TrackContainer, #PodcastContainer
{
    margin: 5px 5px 5px 0;
}
#CurrentPlaylistContainer tr.song a.add
{
    display: none;
}
#CurrentPlaylistContainer tr.song a.remove
{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 0;
    background: url('../images/minus_gl_8x2.png') no-repeat 6px center;
}
#CurrentPlaylistContainer tr.song a.remove:hover
{
    background: url('../images/minus_8x2.png') no-repeat 6px center #DEECFB;
}
.tablecontainer
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
}
.tablecontainerfull
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
table.songlist
{
    margin: 5px;
    border-collapse: collapse;
    width: 100%;
}
table.songlist th
{
    font-size: 14px;
    font-variant: small-caps;
    padding: 5px;
    cursor: pointer;    
    border-bottom: 1px solid #ffffff;
    background: #fff;
}
table.songlist th:hover
{
    background: #fafafa;
}
table.songlist th.sorted {
	background: #F2F3F4;
}
table.songlist th.sorted.ascending:after {
	content: "  \2191";
}
table.songlist th.sorted.descending:after {
	content: " \2193";
}
table.songlist tr.album:hover
{
    background: #EEF5FD;
}
table.songlist tr.album
{
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}
table.songlist tr.album td
{
    padding: 4px 0 0 2px;
}
table.songlist tr.album td.title
{
}
table.songlist tr.album td.artist
{
}
table.songlist tr.album td.artist a
{
    color: #829FC0;
    text-decoration: none;  
    float: left;
    overflow: hidden;
	white-space: nowrap;
}
table.songlist tr.album td.artist a:hover
{
    text-decoration: underline;    
}
table.songlist tr.album .itemactions
{
    width: 80px;
    padding: 0 10px 0 20px;
    margin: 0;
}
table.songlist tr.album td.albumart
{
    padding: 0;
    width: 50px;
}
table.songlist tr.album td.albumart img
{
    margin: 3px 10px 0 10px;
    padding: 2px;
    border: 1px solid #DEDEDE;
}
table.songlist tr.album a.play
{
    float: left;
    width: 20px;
    height: 50px;
    display: block;
    background: url('../images/play_gl_6x8.png') no-repeat 7px center;
}
table.songlist tr.album a.play:hover
{
    background: url('../images/play_6x8.png') no-repeat 7px center #DEECFB;
}
table.songlist tr.album a.add
{
    float: left;
    width: 20px;
    height: 50px;
    display: block;
    background: url('../images/plus_gl_8x8.png') no-repeat 6px center;
}
table.songlist tr.album a.add:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}
table.songlist tr.album a.download
{
    float: left;
    width: 20px;
    height: 50px;
    display: block;
    background: url('../images/download_gl_9x12.png') no-repeat 5px center;
}
table.songlist tr.album a.download:hover
{
    background: url('../images/download_gd_9x12.png') no-repeat 5px center #DEECFB;
}
table.songlist tr.album a.remove
{
    display: none;
}
table.songlist tr.album a.rate
{
    float: left;
	height: 50px;
    width: 20px;
    display: block;
	background: url('../images/star_wo_12x12.png') 2px center no-repeat;	
}
table.songlist tr.album a.rate:hover
{
    background: url('../images/star_lgo_12x12.png') 2px center no-repeat;
}
table.songlist tr.album a.favorite
{
    float: left;
	height: 50px;
    width: 20px;
    display: block;
	background: url('../images/star_yo_12x12.png') 2px center no-repeat;	
}

table.songlist tr.row
{
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}
table.songlist tr.row td
{
    font-size: 13px;
    padding: 9px 10px;
}
table.songlist tr.row .itemactions
{
    width: 80px;
    padding: 0 10px 0 20px;
    /*display: block;*/
    float: right;
}
table.songlist tr.row td.track
{
    width: 80px;
    text-align: left;
}
table.songlist tr.row td.title
{
}
table.songlist tr.row td.album
{
    padding: 0;
    line-height: 31px;
}
table.songlist tr.row a
{
    color: #829FC0;
    text-decoration: none;  
    float: left;
    overflow: hidden;
	white-space: nowrap;
    font-size: 12px;  
}
table.songlist tr.row a:hover
{
    text-decoration: underline;    
}
table.songlist tr.row td.album img
{
    border: 1px solid #DEDEDE;
    display: block;
    float: left;
    margin: 0 5px;
    padding: 2px;
    height: 25px;
}
table.songlist tr.row td.artist
{
}
table.songlist tr.row td.time
{
    text-align: right;
}
table.songlist tr.row a.play
{
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    background: url('../images/play_gl_6x8.png') no-repeat 7px center;
}
table.songlist tr.row a.play:hover
{
    background: url('../images/play_6x8.png') no-repeat 7px center #DEECFB;
}
table.songlist tr.row a.download
{
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    background: url('../images/download_gl_9x12.png') no-repeat 5px center;
}
table.songlist tr.row a.download:hover
{
    background: url('../images/download_gd_9x12.png') no-repeat 5px center #DEECFB;
}
table.songlist tr.row a.add
{
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    background: url('../images/plus_gl_8x8.png') no-repeat 6px center;
}
table.songlist tr.row a.add:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}
table.songlist tr.row a.rate
{
    float: left;
	height: 20px;
    width: 20px;
    margin: 0;
    display: block;
	background: url('../images/star_wo_12x12.png') center 3px no-repeat;	
}
table.songlist tr.row a.rate:hover
{
    background: url('../images/star_lgo_12x12.png') center 3px no-repeat;
}
table.songlist tr.row a.favorite
{
    float: left;
	height: 20px;
    width: 20px;
    margin: 0;
    display: block;
	background: url('../images/star_yo_12x12.png') center 3px no-repeat;	
}
table.songlist tr:nth-child(odd)   { background-color:#f4f4f4; }
table.songlist tr:nth-child(even)  { background-color:#fff; }
table.songlist tr.playing
{
    background-color: #DEEBFA;
}
table.songlist tr.playing td:first-child
{
    background: url('../images/play_alt_gd_16x16.png') 8px center no-repeat;
}
table.songlist tr.selected
{
    color: #f2f2f2;
    border-bottom: 1px solid #73ABE7;
    background-color: #4B95E5;
}
table.songlist tr.selected td:first-child
{
    background: url('../images/check_8x7.png') 10px 16px no-repeat;
}
table.songlist tr.selected td.album a
{
    color: #ffffff;
}
#ArtistContainer
{
}
#BottomContainer
{
    border-top: 1px solid #F2F2F2;
    background: rgba(255, 255, 255, .8);
    position: fixed;
    height: 43px;
    width: 178px;
}
#BottomContainer ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}
#BottomContainer #BottomIndex li
{
    float: left;
    height: 18px;
}
#BottomContainer #BottomIndex li a
{
    color: #4B95E5;
    text-decoration: none;
    font-size: 13px;
    padding: 0 5px 0 0;
}
#BottomContainer #BottomIndex li a:hover
{
    text-decoration: underline;
}
.actions
{
    height: 30px;
    margin: 6px 20px 0 265px;
    padding: 0 0 0 5px;
}
.subactions
{
    height: 29px;
    width: 660px;
    margin: 5px 0 0 0;
    padding: 0 0 0 5px;
}
.submenu 
{
    position: absolute;
    background: #fff;
    padding: 5px 10px;
    margin: 2px 0 0 1px;
    z-index:99;
}
.submenu a
{
    font-size: 12px;
    color: #545454;
    border: none;
    background: none;
    padding: 0;
    text-decoration: none;
}
.submenu a:hover
{
    text-decoration: underline;
}
#submenu_Chat
{
    left: 490px;
    bottom: 59px;
    margin: 0 0 0 1px;
    position: absolute;
    width: 220px;
    text-align: right;
}
#submenu_CurrentPlaylist 
{
    width: 400px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px gainsboro;
}
#SideBar 
{
    display: none;
    width: 200px;
    min-height: 350px;
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #CBCBCB;
    border-right: none;
    position: absolute;
    top: 40px;
    bottom: 200px;
    right: 0;
    opacity: .85;
}
#SideBar .header
{
    padding: 5px;
    font-size: 12px;
    color: #545454;
    font-variant: small-caps;
    font-weight: bold;
}
#SideBar .submit
{
    padding: 0 2px;
    position: absolute;
    bottom: 0;
}
#ChatMsgs
{
    padding: 5px;
    margin: 0 0 2px;
    text-align: right;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 192px;
    bottom: 38px;
    top: 220px;
    border-bottom: 1px solid #F2F2F2;
}
#ChatMsgs .msg
{
    margin: 0 0 5px 0;
}
#ChatMsgs span.msg
{
    font-size: 12px;
}
#ChatMsgs span.user
{
    font-size: 10px;
    color: #B3B8BE;
}
#ChatMsgs span.time
{
    font-size: 9px;
    color: #CAD0D7;
}

#submenu_NowPlaying
{
    left: 605px;
    bottom: 59px;
    margin: 0 0 0 1px;
    position: absolute;
    width: 220px;
    text-align: right;
}
#NowPlaying
{
    border-bottom: 1px solid #F2F2F2;
    margin: 2px 0;
}
#NowPlayingList
{
    height: 150px;
    padding: 5px;
    text-align: right;
    overflow-y: auto;
    overflow-x: hidden;
}
#NowPlayingList .msg
{
    margin: 0 0 5px 0;
    font-size: 11px;
}
#NowPlayingList span.user
{
    font-size: 10px;
    color: #B3B8BE;
}
#NowPlayingList span.artist
{
    font-style: italic;
}
#NowPlayingList span.title
{
}

#queue
{
    background: #fff;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    margin: 4px 0;
    height: 75px;
    position: absolute;
    bottom: 0; /* Sit it on the bottom */
    left: 0;
    width: 100%; /* As wide as it's allowed */
}

/* Player Style */
#player
{
    background: #fff;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    margin: 4px 0;
    height: 75px;
    position: absolute;
    bottom: 0; /* Sit it on the bottom */
    left: 0;
    width: 100%; /* As wide as it's allowed */
}
#audiocontainer
{
}
.audiojs 
{
    width: auto;
    height: 56px;
    margin: 0;
    background: none;
    font-family: inherit;
    font-size: 10px;
    box-shadow: none;
    overflow: hidden;
}
.audiojs .play-pause
{
    display: none;
}
.audiojs .scrubber
{
    height: 4px;
    margin: 35px 5px 0px 5px;
    float: none;
    width: auto;
    position: relative;
    background: #5A5A5A;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    overflow: hidden;
    cursor: pointer;
}
.audiojs .progress 
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 0px;
    background: #CCC;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CCC), color-stop(0.5, #DDD), color-stop(0.51, #CCC), color-stop(1, #CCC));
    background-image: -moz-linear-gradient(center top, #CCC 0%, #DDD 50%, #CCC 51%, #CCC 100%);
}
.audiojs .loaded 
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 0px;
    background: black;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
    background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%);
}
.audiojs .time
{
    float: right;
    border: none;
    line-height: 17px;
    padding: 0 0 0 5px;
    font-size: 11px;
    text-shadow: none;
    height: 36px;
    margin: 0px 0px 0px 6px;
}
.audiojs .time em
{
    padding: 0px 2px 0px 0px;
    font-style: normal;
}
.playeractions
{
    margin: 16px 12px 7px 20px;
    width: 160px;
}
.playeractionssmall
{
    margin: 24px 8px 0 14px;
    width: 50px;
    float: right;
}
#playermiddle
{
    width: 100%;
    visibility: hidden;
}
#coverart
{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 1px 8px 0 1px;
    float: left;
    padding: 2px;
}
#preview { display: none; }
#songdetails
{
    width: 322px;
    margin: 2px 6px;
    float: left;
    cursor: pointer;     
    padding: 0;
    border: 1px solid #fff;
    visibility: hidden;
}
#songdetails.hover 
{
    border: solid 1px gainsboro;
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0)), to(rgba(244, 244, 244, .2)));    
}
#songdetails .jp-volume-bar {
    overflow: hidden;
    background: #cccccc;
    width: 46px;
    height: 4px;
    cursor: pointer;
    float: left;
    margin: 7px 4px 0 0;
}
#songdetails .jp-volume-bar-value {
    background-color: #5A5A5A;
    width: 0px;
    height: 4px;
}
#songdetails ul
{
	list-style-type: none;
	margin: 4px 0 2px 0;
	padding: 0;
	height: 58px;
	width: 215px;
	overflow: hidden;
	white-space: nowrap;
	float: left;
}
#songdetails ul li
{
    display: block;
    height: 14px;
}
#songdetails li.song
{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 2px 0;
}
#songdetails li.album
{
    font-size: 11px;
    line-height: 14px;
}
#songdetails li.specs
{
    opacity: .6;
    font-size: 10px;
    line-height: 14px;
}
#songdetails li span.label
{
    color: #B6B6B6;
    display: inline;
    margin: 0 4px 0 0;
    text-align: right;
    width: 37px;
}
#songdetails a.rate
{
    float: left;
	height: 66px;
    width: 32px;
    display: block;
	background: url('../images/star_wo_12x12.png') 10px center no-repeat;	
	background-color: #ffffff;
}
#songdetails a.rate:hover
{
    background: url('../images/star_lgo_12x12.png') 10px center no-repeat;
	background-color: #ffffff;
}
#songdetails a.favorite
{
    float: left;
	height: 64px;
    width: 30px;
    display: block;
	background: url('../images/star_yo_12x12.png') 10px center no-repeat;	
}
#songdetails a.mute
{
    float: left;
    margin: 2px;
	height: 12px;
    width: 16px;
    display: block;
	background: url('../images/volume_mute_gd_12x9.png') 0 center no-repeat;	
}
#songdetails a.unmute
{
    float: left;
    margin: 2px;
	height: 12px;
    width: 16px;
    display: block;
    background: url('../images/volume_mute_gl_12x9.png') 0 center no-repeat;
}
#songdetails a.volume
{
    float: left;
    margin: 2px;
	height: 12px;
    width: 16px;
    display: block;
    background: url('../images/volume_gd_12x9.png') 0 center no-repeat;
}
#songdetails a.shuffle
{
    float: left;
    margin: 2px;
	height: 12px;
    width: 16px;
    display: block;
	background: url('../images/loop_alt4_gd_16x12.png') 0 center no-repeat;	
}
#songdetails a.shuffle:hover, #songdetails a.shuffle_up
{
    background: url('../images/loop_alt4_gl_16x12.png') 0 center no-repeat;
}
#songdetails a.lock
{
    float: left;
    margin: 2px;
	height: 12px;
    width: 9px;
    display: block;
	background: url('../images/lock_stroke_gl_9x12.png') 0 center no-repeat;	
}
#songdetails a.first
{
    margin: 2px 2px 2px 0;    
}
.vertshade {
    position: relative;
    top: 0;
    left: 259px;
    width: 32px;
    height: 66px;
    background-image: -webkit-gradient( linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
}


/* Video */
#videodeck
{
    position: relative;
	margin: 0 auto;
	z-index:1002;
}
.darkoverlay
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
/* Settings */
ul.preferences 
{
    list-style-type: none;
    padding: 0;
    margin: 0 5px;
}
ul.preferences li
{
    font-size: 11px;
    padding: 8px 0;
}
ul.preferences li.title
{
    font-weight: bold;
    font-size: 14px;
    font-variant: small-caps;
    padding: 0;
}
ul.preferences li em 
{
    background: none repeat scroll 0 0 #D3D3D3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-style: normal;
    left: -3px;
    padding: 3px 9px 3px;
    margin: 0 0 0 5px;
    position: relative;
}
ul.preferences li.log
{
    padding: 2px 0;
}
ul.preferences li span.version
{
    font-weight: bold;
    font-size: 11px;
    padding: 0;
    display: block;
}
ul.preferences li.log span.changes
{
    font-size: 11px;
    padding: 0 0 0 5px;
    display: block;
}
span.code
{
    font-family:"Courier New",Courier,mono;
    font-size: 11px;
}
#donate
{
    text-align: center;
    background: #f2f2f2;
    border: 1px solid #E0E0E0;
    padding: 10px;
    width: 200px;
}


/* Button Style */
a.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 6px 12px;
    position: relative;
    display: inline-block;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
    color: #000;
    border-color: #444;
}
a.selected {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background: #fdfdfd;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#ffffff),to(#fdfdfd));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#ffffff),to(#fdfdfd));
}
a.disabled {
    color: #B7B7B7;
    background: #f1f1f1;
    opacity: .6;
}
a.disabled:hover {
    color: #B7B7B7;
    border-color: #dcdcdc;
    -moz-box-shadow: none;
    box-shadow: none;
}
a.button img.pad { margin: 1px 0 -1px 0; }
.shadow
{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Scrollbar Style */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
    -webkit-border-radius: 10px;
    background: #f2f2f2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(201, 201, 201, 0.4);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(237, 237, 237, 0.2);
}

/* Form Style */
.form {
    border: 1px solid #f2f2f2;
    background: #fcfcfc;
    overflow: auto;
    float: left;
    margin: 10px;
}
input
{
    font-family:   Calibri, Arial, Verdana;
    font-size: 14px;
    padding: 5px;
}
input.large
{
    border: 1px solid #DCDCDC;
    width: 180px;
    margin: 5px;
}
input.xlarge
{
    border: 1px solid #DCDCDC;
    width: 350px;
    margin: 5px;
}
input.chat
{
    border: 1px solid #ffffff;
    width: 150px;
    margin: 5px;
}
input#Search
{
    border: 1px solid #DCDCDC;
    width: 110px;
    margin: 0 0 0 5px;
}
select
{
    font-family:   Calibri, Arial, Verdana;
    padding: 5px;
    margin: 5px;
    border: 1px solid #d6d6d6;
}
select.large
{
    width: 192px;
}
select#SearchType
{
    margin: 0;
}
select#MusicFolders
{
    width: 94%;
    margin: 0 5px;
}
.submit
{
    margin: 0 5px;
}
.submitsettings {
    margin: 0 40px 20px 40px;
    float: right;
}
label
{
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px;
}
.inputwrap
{
    float: left;
    border: 1px solid #DCDCDC;
    padding: 3px;
    margin-bottom: 5px;
}
.checkboxes
{
    margin: 10px 5px;
    vertical-align: middle;
}
.checkboxes input
{
    float: left;
}
.checkboxes label
{
    float: left;
    margin: 5px 5px 0 5px;
}
fieldset
{
    border: 1px solid #EEE;
    margin-bottom: 5px;
}
fieldset span
{
    font-size: 13px;
    font-variant: small-caps;
    font-weight: bold;
    margin: 5px 0;
    display: block;
    float: left;
}
legend
{
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
}
