 <div id="player">
    <div id="playercontainer">
        <div id="playerleft" class="floatleft">
            <div class="playeractions floatleft">
                <a class="hover" id="PreviousTrack" title="Previous Track" ng-click="previousTrack()">
                    <img src="images/first_alt_24x24.png" height="24" width="24" alt="Previous track" />
                </a>
                <a class="hover PlayTrack" title="Play/Pause" ng-click="play()">
                    <img src="images/play_alt_24x24.png" height="24" width="24" alt="Play" />
                </a>
                <a class="hover PauseTrack" title="Play/Pause" style="display: none;" ng-click="pause()">
                    <img src="images/pause_alt_24x24.png" height="24" width="24" alt="Pause" />
                </a>
                <a class="hover" id="NextTrack" title="Next Track" ng-click="nextTrack()">
                    <img src="images/last_alt_24x24.png" height="24" width="24" alt="Next track" />
                </a>
            </div>
            <div id="songdetails">
                <div id="coverart">
                    <a ng-click="fancyboxOpenImage(getPlayingSong().coverartfull)">
                        <img ng-src="{{getPlayingSong().coverartthumb}}" src="images/albumdefault_60.jpg" height="45" width="45" />
                    </a>
                </div>
                <ul>
                    <li class="song" id="{{getPlayingSong().id}}" ng-bind-html="getPlayingSong().name" title="{{getPlayingSong().specs}}"></li>
                    <li class="artist" ng-bind-html="getPlayingSong().artist"></li>
                    <li class="album" ng-bind-html="getPlayingSong().album"></li>
                </ul>
                <div id="songdetails_controls">
                    <a href="" class="jukebox" title="Jukebox Mode [Beta]" ng-click="toggleSetting('Jukebox')" ng-class="{'hoverSelected': !settings.Jukebox }"></a>
                    <jamstash-repeat selected-value="playerSettings.repeat" values="playerSettings.repeatValues"></jamstash-repeat>
                    <a href="" id="action_SaveProgress" class="lock" title="Save Track Position: On" ng-show="settings.SaveTrackPosition"></a>
                    <a title="Favorite" href="" ng-class="{'favorite': getPlayingSong().starred, 'rate': !getPlayingSong().starred}" ng-click="toggleStar(getPlayingSong())" stop-event="click"></a>
                    <a href="" id="action_Mute" class="mute" title="Mute"></a>
                    <a href="" id="action_UnMute" class="unmute" title="Unmute" style="display: none;"></a>
                    <!--<div class="jp-volume-bar"><div class="jp-volume-bar-value"></div></div><a href="" id="action_VolumeMax" class="volume" title="Max Volume"></a>-->
                </div>
            </div>
            <div id="playdeck_1" jplayer></div>
            <div id="playdeck_2"></div>
            <div id="submenu_CurrentPlaylist" class="submenu shadow" style="display: none;">
                <table id="CurrentPlaylistPreviewContainer" class="simplelist songlist">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="playermiddle">
            <div id="audiocontainer">
                <div class="audiojs" id="audio_wrapper0">
                    <div class="scrubber"><div class="progress"></div><div class="loaded"></div></div>
                    <div class="time"><em id="played">00:00</em>/<strong id="duration">00:00</strong></div>
                    <div class="error-message"></div>
                </div>
            </div>
            <div id="preview"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
