<!-- Start: Archive Tab -->
<div class="tabcontent">
    <div>
        <div class="subactions floatleft">
            <a href="" class="button" id="action_SelectAll" title="Select All" ng-click="selectAll()">All</a>
            <a href="" class="button" id="action_SelectNone" title="Select None" ng-click="selectNone()">None</a>
            <a href="" class="button" id="action_AddToQueue" title="Add To Queue" ng-click="addSongsToQueue()">+ Queue</a>
        </div>
        <div class="clear"></div>
        <div id="LayoutContainer" class="section lgsection">
            <div class="ui-layout-west noselect hide" tabindex="0">
                <!-- Artist -->
                <select class="large" id="Collections" ng-disabled="!loadedCollection" ng-model="selectedCollection" ng-options="o for o in AllCollections">
                    <option value="">Select Collection</option>
                </select>
                <a href="" title="Load Example Collections?" ng-click="setupDemoCollections()">?</a>
                <ul class="simplelist mainlist noselect">
                    <li class="item" ng-repeat="o in SavedCollections" ng-click="getAlbums(o)" ng-class="{ 'selected': selectedArtist == o }">
                        <div id="{{'ArtistInfo' + $index}}" class="infolink">
                            <a href="" class="hover" title="More Info..." ng-click="toggleSubmenu('#submenu_ArtistInfo' + $index, '#ArtistInfo' + $index, 'left', 90)" stop-event="click"> <img src="images/info_gl_6x12.png" /> </a>
                            <a href="" class="hover" title="Remove" ng-click="deleteSavedCollection($index)" stop-event="click"> <img src="images/x_gl_11x11.png" /> </a>
                        </div>
                        <div id="{{'submenu_ArtistInfo' + $index}}" class="submenu_ArtistInfo submenu shadow" style="display: none;">
                            <a href="" ng-href="{{settings.Url + o}}" title="{{settings.Url + o}}" target="_blank" stop-event="click">PermaStash</a>
                        </div>
                        <span>{{o}}</span>
                    </li>
                </ul>
            </div>
            <!-- Album -->
            <div class="ui-layout-center">
                <ul class="actionlist">
                    <li>
                    <form class="form">
                        <select ng-model="selectedArchiveAlbumSort" ng-options="o for o in ArchiveAlbumSort"></select>
                        <select id="Years" ng-model="filter.Year" ng-options="o for o in Years">
                            <option value="">[Year]</option>
                        </select>
                        <input type="text" id="Source" name="Source" class="sm" ng-model="filter.Source" placeholder="Source" title="Source"/>
                        <input type="text" id="Description" name="Description" class="m" ng-model="filter.Description" placeholder="Description" title="Description"/>
                        <a href="" class="button" ng-click="filterSave()">Go</a>&nbsp;
                    </form>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul class="simplelist songlist noselect">
                    <li class="album" ng-repeat="o in album" id="{{o.id}}" parentid="{{o.parentid}}" ng-class="{'selected': selectedAlbum == o.id}" ng-click="getSongs(o.id, '')">
                        <div id="{{'AlbumInfo' + $index}}" class="infolink">
                            <a href="" class="hover" title="More Info..." ng-click="toggleSubmenu('#submenu_AlbumInfo' + $index, '#AlbumInfo' + $index, 'right', 10)" stop-event="click"><img src="images/info_gl_6x12.png" /></a>
                        </div>
                        <div id="{{'submenu_AlbumInfo' + $index}}" class="submenu_AlbumInfo submenu shadow" style="display: none;">
                            <a href="" ng-href="{{o.url}}" title="{{o.url}}" target="_blank" stop-event="click">Source</a><br />
                            <a href="" ng-href="{{settings.Url + o.artist + '/' + o.id}}" title="{{settings.Url + o.artist + '/' + o.id}}" target="_blank" stop-event="click">PermaStash</a>
                        </div>
                        <div class="itemactions">
                            <a class="add" href="" title="Add To Play Queue" ng-click="getSongs(o.id, 'add')" stop-event="click"></a>
                            <a class="play" href="" title="Play" ng-click="getSongs(o.id, 'play')" stop-event="click"></a>
                            <a class="download" href="" title="Download"></a>
                            <a href="" title="Favorite" ng-class="{'favorite': o.starred, 'rate': !o.starred}" ng-click="updateFavorite(o)" stop-event="click"></a>
                        </div>
                        <div class="albumart"><img ng-src="{{o.coverart}}" src="images/albumdefault_50.jpg"></div>
                        <div class="title">{{o.name}}</div>
                        <div class="artist"><a href="" id="{{o.parentid}}" ng-click="getAlbums(o.artist, o.id)" stop-event="click">{{o.artist}}</a></div>
                        <!--<div class="details">Created: {{o.date}}</div>-->
                        <div class="description shadow" ng-show="selectedAlbum == o.id" ng-bind-html-unsafe="o.description"></div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <!-- Song -->
            <div class="ui-layout-east noselect hide" ng-include src="'js/partials/songs.html'"></div>
        </div>
    </div>
<div class="clear"></div>
</div>