<!-- Start: Template Tab -->
<div class="tabcontent">
    <div id="tabTemplate">
        <div class="actions floatleft">
            <a href="" class="button" id="action_RefreshPodcasts" title="Refresh Podcasts" ng-click="getPodcasts()"><img class="pad" src="images/reload_9x11.png" /></a>
        </div>
        <div class="subactions">
            <!--<a href="" class="button" id="action_SelectAll" title="Select All" ng-click="selectAll()">All</a>-->
        </div>
        <div class="clear"></div>
        <div id="LayoutContainer" class="section lgsection">
            <!-- Artist -->
            <div class="ui-layout-west noselect hide" tabindex="0">
                <ul class="simplelist mainlist noselect">
                    <li class="index" id="podcasts">Podcasts</li>
                    <li class="item" ng-repeat="o in podcasts" ng-click="getPodcast(o.id, '')" ng-class="{ 'selected': o.id == selectedPodcast }">
                        <div class="itemactions">
                            <a class="add" href="" title="Add To Play Queue" ng-click="getPodcast(o.id, 'add')" stop-event="click"></a><a class="play" href="" title="Play" ng-click="getPodcast(o.id, 'play')" stop-event="click"></a>
                        </div>
                        <div class="title" title="{{o.description}}">{{o.title}}</div>
                    </li>
                </ul>
            </div>
            <!-- Song -->
            <div class="ui-layout-center noselect hide" ng-include src="'js/partials/songs.html'"></div>
        </div>
    </div>
<div class="clear"></div>
</div>
<!-- End: Library Tab -->