<ul class="simplelist songlist">
    <li class="row song" ng-repeat="o in song" ng-dblclick="playSong(false, o)" ng-click="selectSong(o)" ng-dblclick="playSong(false, o)" ng-class="{'selected': o.selected, 'playing': o.playing}" data-bind="attr: { id: id, parentid: parentid, title: description }">
        <div class="itemactions">
            <a class="add" href="" title="Add To Play Queue" ng-click="addSongToQueue(o)" stop-event="click"></a>
            <a class="remove" href="" title="Remove"></a>
            <a class="play" href="" title="Play" ng-click="playSong(false, o)" stop-event="click"></a><a class="download" href="" title="Download"></a>
            <a href="" title="Favorite" ng-class="{'favorite': o.starred, 'rate': !o.starred}" ng-click="updateFavorite(o)" stop-event="click"></a>
            <div class="clear"></div>
        </div>
        <div class="track floatleft" ng-bind-html-unsafe="o.track"></div>
        <div class="title floatleft" title="{{o.description}}" ng-bind-html-unsafe="o.name"></div>
        <a ng-href="#/library/{{o.parentid}}" class="albumblock floatleft" ng-show="o.album && itemType === 'ss'" stop-event="click" ng-bind-html-unsafe="o.album" title="{{itemType}}"></a>
        <a ng-href="#/archive/{{o.artist}}/{{o.parentid}}" class="albumblock floatleft" ng-show="o.album && itemType === 'archive'" stop-event="click" ng-bind-html-unsafe="o.album" title="{{itemType}}"></a>
        <div class="albumblock floatleft" ng-show="!o.album">&nbsp;</div>
        <div class="time floatleft">{{o.time}}</div>
        <div class="clear"></div>
    </li>
</ul>