<!-- Start: Template Tab -->
<div class="tabcontent">
    <div id="tabTemplate">
        <div class="actions floatleft">
            <a href="" class="button" id="action_RefreshArtists" title="Refresh Artist List" ng-click="getArtists()"><img class="pad" src="images/reload_9x11.png" /></a>
        </div>
        <div class="subactions">
            <a href="" class="button" id="action_SelectAll" title="Select All" ng-click="selectAll()">All</a>
        </div>
        <div class="clear"></div>
        <div id="LayoutContainer" class="section lgsection">
            <!-- Artist -->
            <div class="ui-layout-west noselect hide" tabindex="0">
                <ul class="simplelist mainlist noselect">
                <li class="index" id="auto">Auto Albums</li>
                <li class="item" ng-repeat="o in AutoAlbums" id="{{o.id}}" ng-click="getAlbumListBy(o.id)" ng-class="{'selected': selectedAutoAlbum == o.id }"><span>{{o.name}}</span> 
                    <div class="floatright">
                    <a href="" class="nextprev hover" id="random" title="Previous" ng-click="getAlbumListBy(o.id, 'prev')" stop-event="click">&lsaquo;</a> 
                    <a href="" class="nextprev hover" id="random" title="Next" ng-click="getAlbumListBy(o.id, 'next')" stop-event="click">&rsaquo;</a>
                    </div>
                </li>
                </ul>
            </div>
            <!-- Album -->
            <div class="ui-layout-center">
                <ul class="simplelist songlist noselect">
                <li class="album" id="{{o.id}}" ng-class="{'selected': selectedAlbum == o.id}" ng-click="getSongs(o.id, '')" ng-repeat="o in album" parentid="{{o.parentid}}">
                    <div class="itemactions">
                        <a class="add" href="" title="Add To Play Queue" ng-click="getSongs(o.id, 'add')" stop-event="click"></a>
                        <a class="play" href="" title="Play" ng-click="getSongs(o.id, 'play')" stop-event="click"></a>
                        <a class="download" href="" title="Download"></a>
                        <a href="" title="Favorite" ng-class="{'favorite': o.starred, 'rate': !o.starred}" ng-click="updateFavorite(o)" stop-event="click"></a>
                    </div>
                    <div class="albumart"><img ng-src="{{o.coverart}}" src="images/albumdefault_50.jpg"></div>
                    <div class="title">{{o.name}}</div>
                    <div class="artist"><a href="" id="{{o.parentid}}" ng-click="getAlbums(o.parentid)" stop-event="click">{{o.artist}}</a></div>
                    <div class="clear"></div>
                </li>
                </ul>
            </div>
            <!-- Song -->
            <div class="ui-layout-east noselect hide" ng-include src="'js/partials/songs.html'"></div>
        </div>
    </div>
<div class="clear"></div>
</div>
<!-- End: Library Tab -->