.breadcrumbs {
    float: left;
    margin-top: 11px;
    margin-bottom: 3px;
}

.breadcrumb {
    float: left;
}

.breadcrumb a {
    margin: 0 2px 0 6px;
    text-decoration: none;
    color: #5b5b4e;
    font-size: 12px;
}

.breadcrumb:not(:last-child)::after {
    content: " -";
}

.breadcrumb a:hover {
    text-decoration: underline;
}
